{% extends 'main/base.html' %}

{% block title %}Выбор дисциплины{% endblock %}

{% block content %}
{% if current_user.is_teacher or current_user.is_admin %}
    <a href="{{ url_for('achievements.create_achievement') }}" class="btn btn-primary">Создать достижение</a>
    {% endif %}
<div class="container mt-5">
    <h1 class="mb-4">Выбор дисциплины</h1>
    
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for discipline in disciplines %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ discipline.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Преподаватели:</h6>
                    <ul class="list-group list-group-flush mb-3">
                        {% for teacher in discipline.teachers %}
                        <li class="list-group-item">{{ teacher.last_name }} {{ teacher.first_name }} {{ teacher.patronymic }}</li>
                        {% endfor %}
                    </ul>
                    <a href="{{ url_for('student.students_by_discipline', discipline_id=discipline.id) }}" class="btn btn-primary">Просмотр учеников</a>
                    {% if current_user.is_teacher or current_user.is_admin %}
                    <a href="{{ url_for('disciplines.create_group', discipline_id=discipline.id) }}" class="btn btn-outline-secondary mt-2">Создать группу</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <!-- Добавляем карточку "Все дисциплины" -->
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Все дисциплины</h5>
                    <p class="card-text">Просмотр всех учеников</p>
                    <a href="{{ url_for('student.students_by_discipline', discipline_id=0) }}" class="btn btn-primary">Просмотр учеников</a>
                </div>
            </div>
        </div>
    {% if current_user.is_teacher or current_user.is_admin %}
    <div class="mt-4">
        <a href="{{ url_for('disciplines.create_discipline') }}" class="btn btn-success">Создать новую дисциплину</a>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block styles %}
{{ super() }}
<style>
    .card {
        transition: transform 0.3s ease-in-out;
    }
    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
</style>
{% endblock %}