{% extends 'main/base.html' %}

{% block title %}Ученики{% endblock %}

{% block content %}
    <h1>Ученики</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Username</th>
                <th>Email</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.last_name }} {{ student.first_name }} {{ student.patronymic }}</td>
                    <td>{{ student.username }}</td>
                    <td>{{ student.email }}</td>
                    <td>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#student-modal-{{ student.id }}">Подробнее</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% for student in students %}
        <div class="modal fade" id="student-modal-{{ student.id }}" tabindex="-1" role="dialog" aria-labelledby="student-modal-label-{{ student.id }}" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="student-modal-label-{{ student.id }}">{{ student.last_name }} {{ student.first_name }} {{ student.patronymic }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs" id="student-tabs-{{ student.id }}" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="student-info-tab-{{ student.id }}" data-toggle="tab" href="#student-info-{{ student.id }}" role="tab" aria-controls="student-info-{{ student.id }}" aria-selected="true">Информация</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="student-achievements-tab-{{ student.id }}" data-toggle="tab" href="#student-achievements-{{ student.id }}" role="tab" aria-controls="student-achievements-{{ student.id }}" aria-selected="false">Достижения</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="student-inventory-tab-{{ student.id }}" data-toggle="tab" href="#student-inventory-{{ student.id }}" role="tab" aria-controls="student-inventory-{{ student.id }}" aria-selected="false">Инвентарь</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="student-posts-tab-{{ student.id }}" data-toggle="tab" href="#student-posts-{{ student.id }}" role="tab" aria-controls="student-posts-{{ student.id }}" aria-selected="false">Посты</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="student-comments-tab-{{ student.id }}" data-toggle="tab" href="#student-comments-{{ student.id }}" role="tab" aria-controls="student-comments-{{ student.id }}" aria-selected="false">Комментарии</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="student-tabs-content-{{ student.id }}">
                            <div class="tab-pane fade show active" id="student-info-{{ student.id }}" role="tabpanel" aria-labelledby="student-info-tab-{{ student.id }}">
                                <p>Дата рождения: {{ student.birthday }}</p>
                                <p>Уровень: {{ student.level }}</p>
                                <p>Куб-коины: {{ student.cube_coins }}</p>
                                <p>Опыт: {{ student.experience }}</p>
                                <p>Должность во фракции: {{ student.position }}</p>
                                <p>Telegram: {{ student.telegram_link }}</p>
                                <p>Discord: {{ student.discord_link }}</p>
                                <p>Группа: {{ student.group }}</p>
                            </div>
                            <div class="tab-pane fade" id="student-achievements-{{ student.id }}" role="tabpanel" aria-labelledby="student-achievements -tab-{{ student.id }}">
                                <ul>
                                    {% for achievement in student.achievements %}
                                        <li>{{ achievement.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="student-inventory-{{ student.id }}" role="tabpanel" aria-labelledby="student-inventory-tab-{{ student.id }}">
                                <ul>
                                    {% for item in student.inventory %}
                                        <li>{{ item.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="student-posts-{{ student.id }}" role="tabpanel" aria-labelledby="student-posts-tab-{{ student.id }}">
                                <ul>
                                    {% for post in student.posts %}
                                        <li>{{ post.title }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="student-comments-{{ student.id }}" role="tabpanel" aria-labelledby="student-comments-tab-{{ student.id }}">
                                <ul>
                                    {% for comment in student.comments %}
                                        <li>{{ comment.text }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}