{% extends 'main/base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
  <div class="container">
    <h1>Что такое «IT-КУБ»?</h1>
    <p>Центр цифрового образования для детей от 8 до 17 лет. Здесь школьники смогут освоить востребованные языки программирования, научатся писать приложения для мобильных устройств, работать с большими данными, создавать виртуальную реальность.</p>

    <h2>Образовательные программы центра:</h2>
    <ul>
      <li>Нейронные сети, большие данные и кибергигиена (для детей 14-17 лет, стартовый уровень)</li>
      <li>Программирование на Python (адаптированная ДООП для детей 12-17 лет, стартовый уровень)</li>
      <li>Мобильная разработка для начинающих» (для детей 8-11 лет, стартовый уровень)</li>
      <li>Мобильная разработка (для детей 14-17 лет, стартовый уровень)</li>
      <li>Программирование на Python (для детей 12-17 лет, стартовый уровень, базовый уровень)</li>
      <li>Промышленная робототехника (для детей 13-17 лет, базовый уровень)</li>
      <li>Разработка VR/AR приложений (для детей 12-17 лет, стартовый уровень, базовый уровень)</li>
      <li>Основы моделирования и прототипирования (для детей 11-17 лет, стартовый уровень, базовый уровень)</li>
      <li>Точки Роста. Программирование на PYTHON (для детей 12-17 лет, стартовый уровень)</li>
      <li>Программирование роботов (для детей 8-11 лет, стартовый уровень, базовый уровень)</li>
      <li>Системное администрирование (для детей 12-11 лет, стартовый уровень, базовый уровень)</li>
      <li>Основы программирования на языке Python. Лицей Академии Яндекса (для детей 13-17 лет, базовый уровень)</li>
      <li>Соревновательная робототехника (для детей 9-12 лет, продвинутый уровень)</li>
      <li>Основы алгоритмики и логики (для детей 8-11 лет, стартовый уровень)</li>
    </ul>

    <h2>Вариативные программы:</h2>
    <ul>
      <li>Основы шахматной грамотности (для детей 8-17 лет, стартовый уровень)</li>
      <li>Английский язык для информационных технологий (для детей 8-11 лет, стартовый уровень, базовый уровень)</li>
      <li>Английский язык для информационных технологий (для детей 12-17 лет, стартовый уровень, базовый уровень)</li>
      <li>Интернет-вещей (для детей 12-17 лет, стартовый уровень, базовый уровень)</li>
      <li>Первые шаги в программировании (для детей 8-11 лет, стартовый уровень)</li>
      <li>Основы ТРИЗ (для детей 8-11 лет, стартовый уровень)</li>
      <li>Веб-разработка (для детей 12-14 лет, стартовый уровень)</li>
      <li>Проектная деятельность (для детей 12-17 лет, базовый уровень)</li>
    </ul>

    <h2>Общие сведения:</h2>
    <p>Обучение по основным и вариативным направлениям: бесплатно.</p>

    <h2>Связаться с нами:</h2>
    <p>Центр цифрового образования детей «IT-куб. Верхняя Пышма» создан на базе Дворца технического творчества в 2021 году в рамках федерального проекта «Цифровая образовательная среда» национального проекта «Образование». Является структурным подразделением Дворца молодёжи.</p>

    <p >Всего в России открыто 198 центров.</p>

    <p>Федеральный оператор: Федеральное государственное автономное научное учреждение «Федеральный институт цифровой трансформации в сфере образования»</p>

    <p>Сообщество в VK</p>

    <p>Ресурсным центром развития дополнительного образования технической направленности является ФГБОУ ДО ФЦДО (Федеральное государственное бюджетное образовательное учреждение дополнительного образования «Федеральный центр дополнительного образования и организации отдыха и оздоровления детей»)</p>

    <p>Сообщество в VK</p>

    <p>Научим.Online – сервис, в котором собраны мероприятия ФЦДО для детей разных возрастов.</p>

    <p>Центры цифрового образования детей «IT-куб» работают при поддержке Министерства образования и молодежной политики Свердловской области, ГАНОУ СО «Дворец молодежи», в тесном взаимодействии с учреждениями среднего профессионального образования, вузами и ведущими цифровыми компаниями РФ.</p>

    <p>Юридический/ Фактический адрес: г. Верхняя Пышма, Успенский проспект 2г.</p>
  </div>
{% endblock %}