<!-- templates/team.html -->

{% extends 'main/base.html' %}

{% block title %}Команда{% endblock %}

{% block content %}
  <div class="container">
    <h1>Команда</h1>
    <p>Наша команда состоит из трех отделов: учебного, проектного и технического.</p>

    <div class="row">
      <div class="col-md-4">
        <h2>Учебный отдел</h2>
        <p>Ответственный за разработку и реализацию учебных программ.</p>
        <ul>
          <li>Разработка учебных материалов</li>
          <li>Проведение занятий и семинаров</li>
          <li>Оценка знаний и навыков студентов</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2>Проектный отдел</h2>
        <p>Ответственный за разработку и реализацию проектов.</p>
        <ul>
          <li>Разработка проектных заданий</li>
          <li>Проведение проектных работ</li>
          <li>Оценка результатов проектов</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2>Технический отдел</h2>
        <p>Ответственный за техническую поддержку и развитие.</p>
        <ul>
          <li>Техническая поддержка студентов и преподавателей</li>
          <li>Развитие и обновление технической инфраструктуры</li>
          <li>Обеспечение безопасности и защиты данных</li>
        </ul>
      </div>
    </div>

    <h2>Педагоги</h2>
    <p>Наша команда педагоги - опытные специалисты в своих областях.</p>
    <ul>
      <li>Иванов Иван Иванович - преподаватель математики</li>
      <li>Петрова Петра Петровна - преподаватель информатики</li>
      <li>Сидоров Сергей Сергеевич - преподаватель физики</li>
    </ul>
  </div>
{% endblock %}