{% extends 'main/base.html' %}

{% block title %}Создать проект{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Создать проект для квеста "{{ event.name }}"</h1>
    <form method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Название проекта</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Описание проекта</label>
            <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
        </div>
        <div class="mb-3">
            <label for="status" class="form-label">Статус проекта</label>
            <select class="form-control" id="status" name="status">
                <option value="в работе">В работе</option>
                <option value="завершен">Начат</option>
                <option value="отменен">Задуман</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="passport_link" class="form-label">Ссылка на паспорт проекта (необязательно)</label>
            <input type="url" class="form-control" id="passport_link" name="passport_link">
            <small class="form-text text-muted">Дедлайн: {{ event.passport_deadline.strftime('%d.%m.%Y') }}</small>
            {% if event.passport_deadline < current_time %}
                <small class="form-text text-danger">Дедлайн прошел!</small>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="materials_link" class="form-label">Ссылка на материалы проекта (необязательно)</label>
            <input type="url" class="form-control" id="materials_link" name="materials_link">
            <small class="form-text text-muted">Дедлайн: {{ event.materials_deadline.strftime('%d.%m.%Y') }}</small>
            {% if event.materials_deadline < current_time %}
                <small class="form-text text-danger">Дедлайн прошел!</small>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="presentation_link" class="form-label">Ссылка на презентацию проекта (необязательно)</label>
            <input type="url" class="form-control" id="presentation_link" name="presentation_link">
            <small class="form-text text-muted">Дедлайн: {{ event.presentation_deadline.strftime('%d.%m.%Y') }}</small>
            {% if event.presentation_deadline < current_time %}
                <small class="form-text text-danger">Дедлайн прошел!</small>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Создать проект</button>
    </form>
</div>
{% endblock %}